* {
    margin: 0;
    font-family: sans-serif;
}

button {
    background-color: purple;
    color: rgb(0, 0, 0);
    width: 100px;
    border-radius: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 33px;
    border: 1px solid black;
}

button:hover {
    background-color: blueviolet;
}

button::click {
    border: 2px solid black;
}

.front {
    margin: auto;
    align-items: center;
    padding: 30px;
    text-align: center;
}

.buttonContainer {
    display: flex;
    align-self: center;
    padding-left: 400px;
}